@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: black;
    color: white;
}

.timer {
    font-size: 2.5rem;
    color: white;
    background-color: #202020;
    border-radius: 1rem;
    text-align: center;
}